.cont{
    border: 1px solid;
    width: 600px;
}

.div1 {
    background: #FFFF00;
    width: 150px;
    height: 100px;
    padding: 10px;
    float: right;
}
.div2 {
    background: #3A81BA;
    width: 150px;
    height: 100px;
    padding: 10px;
    float: right;
}
.div3 {
    background: #ED2251;
    width: 150px;
    height: 100px;
    padding: 10px;
    float: right;
}